.footer {
  height: 350px;
  width: 100%;
  background: #212731;
  color: #fff;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Inter;
}
.list {
  list-style-type: none;
}

.list li {
  font-size: 13px;
  font-weight: 400;
  color: #b6bdc4;
  margin-bottom: 5px;
}
.title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
@media only screen and (max-width: 600px) {
  .footer {
    height: 220px;
  }
  .list li {
    font-size: 10px;
  }
}
